@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}
.header {
    background-image: url(./img/titl.png);
    background-repeat: no-repeat; 
    width: 1920px;
    height: 800px;
}

.wrapper {
    background: rgba(0, 91, 193, 0.6);
    width: 1920px;
    height: 80px;
}

.menu  {
    display:inline-block;
    padding: 0;
    margin-left: 555px;
} 

.item {
    list-style: none;
    display:inline-block;
    margin-right: 27px;
}

.item a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: white;
}

.title {
    width: 635px;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 0.01em;
    color: white;
}

.discription {
    width: 445px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
}

.wrapper-text {
    margin: 0 auto;
    width: 635px;
}

.header-btn {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 160px;
    height: 73.5px;
    left: 936px;
    top: 378.23px;
    margin: 20px;
    font-size: 16px;
}

.sld {
    width: 1110px;
    height: 505px;
    left: 405px;
    top: 1620px;
    margin: auto;
}

.slider {
    display: flex;
}

.title-slider {
    width: 204px;
    height: 44px;
    left: 545px;
    top: 956px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 16px;
    margin-left: 50px;
    margin-top: 0;
    }

    .slider-bt {
        margin-left: auto;
    }

    .slider-bt1 {
        width: 55px;
        height: 55px;
        border: 2px solid #005BC1;
        background-color: transparent;
        font-weight: bold;
        margin-left: -6px;
    }

    .slider-img1 {
        width: 540px;
        height: 400px;
        left: 405px;
        top: 1070px;

    }

    #slider-img2 {
        margin-right: 1px;
        margin-left: 24px;
    }

    .catalog {
        width: 1110;
        height: 505px;
        top: 1620px;
        left: 405px;
    }

    .catalog-title {
        width: 250px;
        height: 44px;
        top: 956px;
        left: 545px;
        font-family: Oswald;
        font-size: 20px;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 0.05em;
        text-align: left;
    }

    .catalog-list {
        display: block;
        margin-left: auto;
    }

    .ct-item {
        list-style: none;
        display: inline-block;

    }

    .catalog-imgs {
        list-style: none;
        display: flex;
        padding: 0;
        justify-content: space-between;
        margin: 25px 190px 0px 190px;
    }

    .catalog-img {
        width: 350px;
        height: 300px;
    }

    .img1 {
        background-image: url("./img/Rectangle 5.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    .ctlg-img-name {
        background-color: #005BC1;
        width: 323px;
        height: 86px;
        color: white;
        font-size: 26px;
    }

    .txt1 {
        padding: 17px 2px 9px 0px;
        margin: 22px;
        margin-top: 180px;
    }

    span {
        display: block;
        margin: 3px 9px 19px 8px;
    }

    .img2 {
        background-image: url("./img/Rectangle 6.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .img3 {
        background-image: url("./img/catelog__item.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .span {
        margin: 206px 0px 0px 25px;
        padding: 31px 1px 1px 0px;
    }

    .catalog-list {
        width: 211px;
        height: 41px;
        margin: auto;
        padding: 0;
    }

    .ct-item {
        font-size: 19px;
        margin: 12px;
    }

    .catalog-title {
        margin-left: 240px;
    }

    .rent {
        width: 1110px;
        height: 478px;
        margin: auto;
    }

    .rent-title {
        margin: 16px;
        margin-left: 50px;
        font-weight: 400px;
        font-family: Oswald;
        font-size: 20px;
        font-weight: 400;
        line-height: 44px;
        letter-spacing: 0.05em;
        text-align: left;
    }

    .rent-all {
        display: flex;
    }

    .rent-text {
        width: 350px;
        height: 175px;
        font-size: 16px;
        margin-top: 100px;

    }

    .rent-block {
        border: 3px solid #005BC1;
        width: 665px;
        height: 394px;
        margin-left: 100px;
    }

    .rent-block-ttl {
        display: flex;
    }

    .btn-rent {
        width: 55px;
        height: 55px;
        border: 2px solid #005BC1;
        background-color: transparent;
        font-weight: bold;
        margin-left: -6px;
    }

    .rent-btn {
        margin: 30px;
        margin-left: 59px;
        }

        .rent-title2 {
            width: 441px;
            height: 27px;
            font-size: 14px;
            margin-left: 24px;
            margin-top: 42px;
        }

        .rent-block2 {
            display: flex;
        }

        .rent-img {
    width: 255px;
    height: 250px;
        }

        h5 {
            text-transform: uppercase;
            margin-left: 20px;
        }  
        
        .rent-ul {
            font-size: 12px;
        }

        .rent-li {
            margin-top: 20px;
            font-size: 14px;
        }

        .new {
            width: 1110px;
            height: 363px;
            margin: auto;
            margin-top: 50px;
        }

        .news-top {
            display: flex;
        }

        .news {
            margin-left: 50px;
            font-weight: 400px;
            font-family: Oswald;
            font-size: 20px;
            font-weight: 400;
            line-height: 44px;
            letter-spacing: 0.05em;
            text-align: left;
            margin-top: 0;
        }

        .all-news {
            margin-left: 766px;
            width: 190px;
            height: 51px;
            background-color: #005BC1;
            color: white;
            text-transform: uppercase;
        }

        .news-block {
            display: flex;
            margin-top: 58px;
        }

        .news-block1 {
            display: flex;
            width: 540px;
            height: 242px;
        }

        .news-block1-img {
            width: 255px;
            height: 242px;
        }

        .news1 {
            margin-left: 30px;
        }

        .news-block1-title {
            text-transform: uppercase;
            margin-top: 0;
            font-size: 15px;
        }

        .news-block2 {
            width: 225px;
            height: 242px;
        }

        .news-block3 {
            width: 225px;
            height: 242px;
        }

        .news-block2-img {
            width: 128px;
            height: 115px;
            margin-top: 14px;
        } 

        .news-block3-img {
            width: 128px;
            height: 115px;
            margin-top: -4px;
        } 

        .news_bl1 {
            width: 255px;
            height: 133px;
        }

        .news-block1-p2 {
            margin-top: -15px;
            font-size: 14px;
        }

        .news-block1-p1 {
            font-size: 14px;
        }

        .news-p1 {
            margin-top: 45px;
        }

        .news-block2-title {
            text-transform: uppercase;
            margin-top: 0px;
            font-size: 15px;
        }

        .news-block2-p {
            font-size: 14px;
        }

        .news-block2 {
            margin-left: 60px;
        }

        .news-block3 {
            margin-left: 60px;
        }

        .news-block3-title {
            text-transform: uppercase;
            margin-top: 0px;
            font-size: 15px;
        }
        
        .news-block3-p {
            font-size: 14px;
            margin-top: 38px;
        }

        footer {
            width: 1920px;
            height: 255px;
            border: 1px solid red;
            margin-top: 115px;
            background-color: #005BC1;
            color: white;
        }

        .foot1 {
            display: flex;
            list-style: none;
        }

        .footli11 {
            margin-left: 150px;
            font-size: 18px;
            font-weight: bold;
        }

        .footli12 {
            margin-left: 150px;
            font-size: 14px;
            font-weight: bold;
        }

        .footli13 {
            margin-left: 150px;
            font-size: 14px;
        }

        .foot2 {
            display: flex;
            list-style: none;
        }

        .foot21 {
            display: flex;
            list-style: none; 
        }

        .footli2 {
            margin-left: 150px;
            font-size: 14px;
        }

        .footli21 {
            margin-left: 150px;
            font-size: 14px;
        }

        .footli22 {
            margin-left: 176px;
            font-size: 14px;
        }

        .footli23 {
            margin-left: 153px;
            font-size: 14px;
        }

        .foot3 {
            display: flex;
            list-style: none; 
        }
        
        .footli31 {
            margin-left: 153px;
            font-size: 14px;
        }

        .footli32 {
            margin-left: 468px;
            font-size: 14px;
        }

        hr {
            width: 1025px;
            margin-left: 188px;
        }

        .divfoot {
            margin-top: 50px;
            margin-left: 40px
        }