.catalog {
    width: 1110;
    height: 505px;
    top: 1620px;
    left: 405px;
    margin-top: 50px;
}

.catalog-title {
    width: 250px;
    height: 44px;
    top: 956px;
    left: 545px;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-align: left;
    margin-left: 200px;
}

.catalog-list {
    display: block;
    margin-left: auto;
}

.ct-item {
    list-style: none;
    display: inline-block;

}

.catalog-imgs {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin: 25px 190px 0px 190px;
}

.catalog-img {
    width: 350px;
    height: 300px;
}

.img1 {
    background-image: url("../img/Rectangle 5.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.ctlg-img-name {
    background-color: #005BC1;
    width: 323px;
    height: 86px;
    color: white;
    font-size: 26px;
}

.txt1 {
    padding: 17px 2px 9px 0px;
    margin: 22px;
    margin-top: 180px;
}

span {
    display: block;
    margin: 3px 9px 19px 8px;
}

.img2 {
    background-image: url("../img/Rectangle 6.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img3 {
    background-image: url("../img/catelog__item.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.span {
    margin: 206px 0px 0px 25px;
    padding: 31px 1px 1px 0px;
}

.catalog-list {
    width: 211px;
    height: 41px;
    margin: auto;
    padding: 0;
}

.ct-item {
    font-size: 19px;
    margin: 12px;
}
