@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --test:red
}

.conteiner-fluid {
    max-width: 1918px;
    height: 800px;
    padding: 11px 44px;
    border: 1px solid green;
    padding: 0;
}

.conteiner {
    max-width: 1110px;
    border: 1px solid blue;
}
