footer {
    width: 1920px;
    height: 255px;
    border: 1px solid red;
    margin-top: 115px;
    background-color: #005BC1;
    color: white;
}

.foot1 {
    display: flex;
    list-style: none;
}

.footli11 {
    margin-left: 150px;
    font-size: 18px;
    font-weight: bold;
}

.footli12 {
    margin-left: 150px;
    font-size: 14px;
    font-weight: bold;
}

.footli13 {
    margin-left: 150px;
    font-size: 14px;
}

.foot2 {
    display: flex;
    list-style: none;
}

.foot21 {
    display: flex;
    list-style: none; 
}

.footli2 {
    margin-left: 150px;
    font-size: 14px;
}

.footli21 {
    margin-left: 150px;
    font-size: 14px;
}

.footli22 {
    margin-left: 176px;
    font-size: 14px;
}

.footli23 {
    margin-left: 153px;
    font-size: 14px;
}

.foot3 {
    display: flex;
    list-style: none; 
}

.footli31 {
    margin-left: 153px;
    font-size: 14px;
}

.footli32 {
    margin-left: 468px;
    font-size: 14px;
}

hr {
    width: 1025px;
    margin-left: 188px;
}

.divfoot {
    margin-top: 50px;
    margin-left: 40px
}