header {
    color: var(--test);
}

.header {
background-image: url(../img/title.png);
background-repeat: no-repeat; 
height: 800px;
}

.nav {
    background: rgba(0, 91, 193, 0.6);
    width: 1518px;
    height: 80px;
    display: flex;
}

.header-btn {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    width: 160px;
    height: 73.5px;
    left: 936px;
    top: 378.23px;
    margin: 20px;
    font-size: 16px;
}

.menu  {
    display:inline-block;
    padding: 0;
    margin-left: 555px;
    margin-top: 30px;
} 

.item {
    list-style: none;
    display:inline-block;
    margin-right: 27px;
}

.item a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: white;
}

.title {
    width: 635px;
    font-weight: 400;
    font-size: 44px;
    line-height: 71px;
    letter-spacing: 0.01em;
    color: white;
    margin-top: 164px;
}

.discription {
    width: 445px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: white;
}

.wrapper-text {
    margin: 0 auto;
    width: 635px;
}

.logo {
margin-top: 8px;
margin-left: 35px;
}