.new {
    width: 1110px;
    height: 363px;
    margin: auto;
    margin-top: 120px;
}

.news-top {
    display: flex;
}

.news {
    font-weight: 400px;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-align: left;
    margin-top: 0;
}

.all-news {
    margin-left: 766px;
    width: 190px;
    height: 51px;
    background-color: #005BC1;
    color: white;
    text-transform: uppercase;
}

.news-block {
    display: flex;
    margin-top: 58px;
}

.news-block1 {
    display: flex;
    width: 540px;
    height: 242px;
}

.news-block1-img {
    width: 255px;
    height: 242px;
}

.news1 {
    margin-left: 30px;
}

.news-block1-title {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 15px;
}

.news-block2 {
    width: 225px;
    height: 242px;
}

.news-block3 {
    width: 225px;
    height: 242px;
}

.news-block2-img {
    width: 128px;
    height: 115px;
    margin-top: 14px;
} 

.news-block3-img {
    width: 128px;
    height: 115px;
    margin-top: -4px;
} 

.news_bl1 {
    width: 255px;
    height: 133px;
}

.news-block1-p2 {
    margin-top: -15px;
    font-size: 14px;
}

.news-block1-p1 {
    font-size: 14px;
}

.news-p1 {
    margin-top: 45px;
}

.news-block2-title {
    text-transform: uppercase;
    margin-top: 0px;
    font-size: 15px;
}

.news-block2-p {
    font-size: 14px;
}

.news-block2 {
    margin-left: 60px;
}

.news-block3 {
    margin-left: 60px;
}

.news-block3-title {
    text-transform: uppercase;
    margin-top: 0px;
    font-size: 15px;
}

.news-block3-p {
    font-size: 14px;
    margin-top: 38px;
}