.rent {
    width: 1110px;
    height: 478px;
    margin: auto;
    margin-top: 50px;
}

.rent-title {
    font-weight: 400px;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-align: left;
}

.rent-all {
    display: flex;
}

.rent-text {
    width: 350px;
    height: 175px;
    font-size: 16px;
    margin-top: 100px;

}

.rent-block {
    border: 3px solid #005BC1;
    width: 665px;
    height: 394px;
    margin-left: 100px;
}

.rent-block-ttl {
    display: flex;
}

.btn-rent {
    width: 55px;
    height: 55px;
    border: 2px solid #005BC1;
    background-color: transparent;
    font-weight: bold;
    margin-left: -6px;
}

.rent-btn {
    margin: 30px;
    margin-left: 59px;
    }

    .rent-title2 {
        width: 441px;
        height: 27px;
        font-size: 14px;
        margin-left: 24px;
        margin-top: 42px;
    }

    .rent-block2 {
        display: flex;
    }

    .rent-img {
width: 255px;
height: 250px;
    }

    h5 {
        text-transform: uppercase;
        margin-left: 20px;
    }  
    
    .rent-ul {
        font-size: 12px;
    }

    .rent-li {
        margin-top: 20px;
        font-size: 14px;
    }