.sld {
    width: 1110px;
    height: 505px;
    left: 405px;
    top: 1620px;
    margin: auto;
    margin-top: 150px;
}

.slider {
    display: flex;
}

.title-slider {
    width: 204px;
    height: 44px;
    left: 545px;
    top: 956px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 16px;
    margin-left: 0px;
    margin-top: 0;
    }

    .slider-bt {
        margin-left: auto;
    }

    .slider-bt1 {
        width: 55px;
        height: 55px;
        border: 2px solid #005BC1;
        background-color: transparent;
        font-weight: bold;
        margin-left: -6px;
    }

    .slider-img1 {
        width: 540px;
        height: 400px;
        left: 405px;
        top: 1070px;

    }

    #slider-img2 {
        margin-right: 1px;
        margin-left: 24px;
    }